

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body { 
	padding:0;
	margin:0;
}

.logo, header {
    font-family: 'Montserrat', sans-serif;
}

#map { 
    background: url(../img/placeholder_no_ap.png) no-repeat center center fixed;
}

h5, a, p, h3, h2, a:hover {
	color: #FFF;
	text-decoration:none;
}

.callbox h3 { 
	text-align:center;
}


input[type=email], 
input[type=submit] {
	height: 37px;
	font-size:17px;
	width:90%;
	margin:0 auto;
	display:block;
}

input[type=submit] {
    background-color:#404247;
    color:#FAEBE2;
    border:0;
}

.callbox { 
	font: 14px/16px Arial, Helvetica, sans-serif;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	background: #FFF;
	border-radius: 5px;
	width: 100%;
	margin:0 auto;
	background-color:#6496c8;
	position:absolute;
	bottom:0;
	padding: 20px 15px;
	box-sizing: border-box
	-moz-box-sizing: border-box
}	

header {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64A7DC', endColorstr='##60A0D8'); /* for IE */
    background: #6496c8	; /* Old browsers */
    display:block;
    height:90px;
    padding: 20px;
    box-sizing: border-box;
    width:100%;
    position:absolute;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

header nav {
    text-align:right;
    padding-right:20px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

header nav h5, header nav h2 {
    margin:0;
}

header nav a:first-child {
    margin-left:0;
}

.logo {
    color: white;
    font-weight:bold;
}

.logo h1 {
    margin:0;
}

.logo span {
    font-size:18px;
}

header h2 {
	font-size: 18px;
}

header h4 {
	font-size:15px;
}

@media (min-width: 768px) {
	.callbox { 
		bottom:10px;
		right:10px;
		max-width:480px;
	}

	header h2 {
		font-size: 22px;
	}

	header h4 {
		font-size:18px;
	}
}






